.profile-container {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 0;
        padding: 20px;
        background-color: rgb(73, 98, 202);
        color: rgb(230, 208, 232);
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        box-sizing: border-box;
    }

    app-profile-form {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 102px; // 70px dockmenu + 32px padding del botón
    }
}