STAGE=dev

DB_USER=root
DB_PASSWORD=root123456
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
PORT=3020
HOST_API=http://localhost:3020/api
JWT_SECRET=secreto
TELEGRAM_BOT_TOKEN=token_bot
TELEGRAM_WEBHOOK_SECRET=123456

STATIC_PRODUCTS_PATH=./static/products
STATIC_USERS_PATH=./static/users