<div class="login-container">
	<p-card styleClass="login-card">
		<div class="login-content">
			<div class="image-container">
				<p-image [src]="userProfilePhoto"
					[alt]="userName || 'Dating App Logo'"
					[preview]="false"
					imageClass="app-logo">
				</p-image>
			</div>

			<h1>¡{{ 'Bienvenido ' + userName + '!' }}</h1>
			<p>{{ 'cliquea en el boton para entrar en la aplicación' }}</p>

			<div class="button-container">
				<p-button
					(onClick)="onClickLogin()"
					[label]="'Entrar en la aplicación'"
					icon="pi pi-telegram"
					styleClass="telegram-button"
					#telegramLoginButton>
				</p-button>
			</div>
		</div>
	</p-card>
</div>